@page {
  margin: 5cm 4.5cm 2.5cm 2.5cm;
  header: html_header;
}

@page :first {
  margin: 10cm 2.5cm 2.5cm 2.5cm;
  header: html_first_header;
}

body {
  line-height:1.4;
  font-size: 13px;
  font-family: "facit";
}

#recipient {
  position: absolute;
  top: 57mm;
  left:25mm;
  height:27.3mm;
  width: 80mm;
}

p {
  padding-bottom: 8pt;
}


#infobox-first-page {
  position: absolute;
  top: 57mm;
  left:115mm;
  width: 60mm;
}

#infobox {
    position: absolute;
    top: 25mm;
    left:105mm;
    width: 60mm;
}
